# run this in terminal to install all required modules
# pip install -r requirements.txt

# python packages required to run the dashboard
pandas
dash
gunicorn
plotly
dash_mantine_components
dash_bootstrap_components
datetime
openpyxl
ipykernel
xlsxwriter
# webbrowser
# threading
